atlassian-ide-plugin.xml

## Ignore svn files
.svn

## ignore any target dir
target
RemoteSystemsTempFiles
_netrc

##ignore only top level data dir - local node data files for unit tests
/data

## Ignore project files created by Eclipse
.settings
.project
## .classpath
.metadata/*  ##  下面有文件夹的要这么写。
# .idea

## Ignore project files created by IntelliJ IDEA
# *.iml  ，比如我把src/main/resource  执行动作 unmark directory as resource root 那么 .idea/${modulename}/{modulename}.iml就会有变动
*.ipr
*.iws
## .idea

_netrc
